/* .desktop-icon{
    width: 115px;
    height: 100px;
    color: #fff;
    text-align: center;
    background: no-repeat center top;
    padding-top: 55px;
    margin: 10px;
}
.desktop-icon-my-computer{
    backgroundImage: `url("https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png")`;
    }
.desktop-icon-my-documents{
    backgroundImage: `url(https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs-4.png)`;
    }
    
.desktop-icon-network{
    backgroundImage: `url(https://win98icons.alexmeub.com/icons/png/network_cool_two_pcs-0.png)`;
    }
    
.desktop-icon-trash-empty{
    backgroundImage: `url(https://win98icons.alexmeub.com/icons/png/recycle_bin_empty-4.png)`;
    }

 */

/*from ui.89.css 
        /* &.ie{
        background-image: url(https://win98icons.alexmeub.com/icons/png/msie1-4.png);
        }
        
        &.outlook{
        background-image: url(https://win98icons.alexmeub.com/icons/png/outlook_express-0.png);
        }
        
        &.desktop{
        background-image: url(https://win98icons.alexmeub.com/icons/png/desktop-4.png);
        }
        
        &.channels{
        background-image: url(https://win98icons.alexmeub.com/icons/png/channels-5.png);
        } */