.main{
    z-index: 999;
    position: fixed;
    left: 10%;
    z-index:999;
    top: 13%;
    width: 80%;
    height:50%;
    border: 1px solid #011627;
    box-shadow: -2px 5px 5px #6e6d6d;
    background-color: #ffffff;
    display: block;
}
.closebutton{
    z-index: 999;
    position: fixed;
    left: 5%;
    top: 50%;
    width: 50%;
    height:50%;
    border: 1px solid #011627;
    box-shadow: -2px 5px 5px #6e6d6d;
}
