#toolbar{
    background: #c0c0c0;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    box-shadow: -2px 5px 5px #6e6d6d;
}
    .toolbar-start-menu{
    float: left;
    }
    .start-button{
    background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center / 24px;
    padding-left: 28px;
    padding-right: 5px;
    height: 29px;
    margin: 2px 3px;
    font-weight: bold;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    float: left;
}

    .start-menu-wrapper{
        border: 2px solid #7c7c7c;
        border-top-color: #fff;
        border-left-color: #fff;
        background: #c0c0c0;
        position: fixed;
        left: 2px;
        bottom: 33px;
        width: 190px;
        min-height: 190px;
    }
    .start-menu-title{
        height: 95%;
        padding: 5px 5px;
        background: linear-gradient(90deg, #00007b 0%, #0000ff 5%, #00007b 100%);
        color: #fff;
        width: 40px;
        float: left;
        text-transform: uppercase;
        font-size: 20px;
        position: absolute;
        }
        span{
            transform: rotate(-90deg);
            transform-origin: left 0;
            position: absolute;
            left: 10px;
            bottom: -10px;
        }
        .start-menu{
        margin-left: 40px;
        }
    
    .toolbar-separator{
    width: 2px;
    height: 26px;
    margin-top: 2px;
    background: #797979;
    float: left;
    border-right: 1px solid #fff;
    }
    
    .toolbar-left{
    float: left;
    padding: 0 5px;
    }
    
    .toolbar-icon{
        background: no-repeat center / auto 20px;
        width: 25px;
        height: 25px;
        border: none;
        margin-top: 3px;
        margin: 3px 2px;
    }
    .toolbar-right{
        float: right;
        margin: 2px 3px;
        height: 29px;
        border: 2px solid #7c7c7c;
        border-bottom-color: #fff;
        border-right-color: #fff;
    }  
    .desktop-icon{
        width: 115px;
        height: 100px;
        color: #fff;
        text-align: center;
        background: no-repeat center top;
        padding-top: 55px;
        margin: 10px;
    }